@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    color: #fff;
}

body {
    margin: 2em;
    min-height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    background: linear-gradient(276deg,#050516,#07071e,#010115,#10105b);
    background-size: 360% 360%;
    animation: gradient-animation 24s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between ;
    box-sizing: border-box;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000000;
}

header .logo {
    margin-left: 1em;
    position: relative;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.6s;
    width: 8.5em;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding: 0.5em;
    margin: 1.2em;
    display:flex;
    list-style: none;
}

header ul li a {
    margin-top: 2em;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    text-decoration: none;
    transition: 0.6s;
}

header ul li a:hover {
    color: rgb(0, 117, 153);
}

header form {
    margin-top: 2em;
    background: none;
    flex-direction: row-reverse;
    transition: 0.6s;
}

.recherche {
    float: right;
    padding-top: 10px;
    background: none;
    border: none;
}


header input {
    float: right;
    width:40%;
    margin-left: 10px;
    margin-top: 2px;
    font-weight: 500px;
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
    background: none;
    transition: 0.15s;
    padding: 10px;
    border: 2px solid rgb(0, 117, 153);
    border-radius: 0.7em;
}

header input:focus {
    width: 70%;
    outline: none;
    font-size: 14px;
    border: 2px solid rgb(0, 117, 153);
}

.dpres {
    margin-top: 2.5em;
}

.titre1 {
    display: flex;
    justify-content: center;
}

.pres {
    font-size: 5em;
    display: flex;
    justify-content: center;
}

.pres a {
    text-decoration: none;
}

.highlight {
    color: rgb(0, 117, 153);
    font-weight: bolder;
}

.material-symbols-outlined {
    color:rgb(179, 107, 175);
}

.dpres ul {
    align-items: baseline;
}

.dpres ul li {
    margin-left: 0.8em;
    text-align:left;
    font-size: 1em ;
    list-style: none;
}

#myCarousel1 {
    background: rgb(32,32,32);
    width: 70em;
    height: 42em;
}

#myCarousel2 {
    background: rgb(32,32,32);
    width: 70em;
    height: 40em;
}

.carrousel {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.populaires, .presentation {
    background-color: linear-gradient(to bottom,rgb(0, 0, 0),rgb(22, 0, 0)) ;
    flex-direction: row;
    display: flex;
    margin-right: 2em;
    margin-left: 2em;
}

main img {
    width: 15em;
}

main .pres {
    display: flex;
    justify-content: center;
}

main .dpres img {
    margin-left: 1em;
    height: 25em;
    width: 9em;
    position: relative;
}

.gooddeals {
    width: 15em;
    background-color: linear-gradient(to bottom,rgb(0, 0, 0),rgb(22, 0, 0)) ;
    flex-direction: row;
    display: flex;
    border: 1px solid white;
}

.inline {
    display: inline;
}

.row .row img{
    width: 15em;
    transition: transform .1s;
}

.row img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    transition: 0.2s;
}

.pic-ctn {
width: 100vw;
height: 200px;
}

@keyframes display {
0% {
    transform: translateX(200px);
    opacity: 0;
}
10% {
    transform: translateX(0);
    opacity: 1;
}
20% {
    transform: translateX(0);
    opacity: 1;
}
30% {
    transform: translateX(-200px);
    opacity: 0;
}
100% {
    transform: translateX(-200px);
    opacity: 0;
}
}

.pic-ctn{
    position: relative;
    width: 100vw;
    height: 300px;
    margin-bottom: 40vh;
}

.pic-ctn img {
    border-radius: 0.7em;
}

.pic-ctn > img {
    height: 40em;
    width: 70em;
    position: absolute;
    top: 0;
    left: calc(21% - 100px);
    opacity: 0;
    animation: display 16s infinite;
}

img:nth-child(2) {
animation-delay: 4s;
}
img:nth-child(3) {
animation-delay: 8s;
}
img:nth-child(4) {
animation-delay: 12s;
}
img:nth-child(5) {
animation-delay: 16s;   
}